Here we will do work with Latent Factor Analysis to create a Recommendation system.

In [1]:
# read the BX-Book-Ratings file
import pandas as pd
dataFile='./data/BX-CSV-Dump/BX-Book-Ratings.csv'
data=pd.read_csv(dataFile,sep=";",header=0,encoding = "ISO-8859-1", names=["user","isbn","rating"])

In [2]:
data.head()

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [3]:
# read the BX-Books file to get Books meta data
bookFile='./data/BX-CSV-Dump/BX-Books.csv'
books=pd.read_csv(bookFile,sep=";",header=0,encoding = "ISO-8859-1", error_bad_lines=False, usecols=[0,1,2],index_col=0,names=['isbn',"title","author"])

In [4]:
books.head()

,title,author
isbn,,
0195153448,Classical Mythology,Mark P. O. Morford
0002005018,Clara Callan,Richard Bruce Wright
0060973129,Decision in Normandy,Carlo D'Este
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
0393045218,The Mummies of Urumchi,E. J. W. Barber

In [5]:
# Data Cleaning - only retain values from books-rating that actually have books meta data
data = data[data["isbn"].isin(books.index)]

In [6]:
# More Data Cleaning
# Drop books that dont have too many ratings
# Drop users that have not rated many books

# Find the number of books each user has rated
ISBNsPerUser = data.user.value_counts()
# Find the number of users who have rated a particular book. 
usersPerISBN = data.isbn.value_counts()

# Now lets only keep users who have rated more than 10 book
# lets only keep books which have been rated by more than 10 users
data = data[data["isbn"].isin(usersPerISBN[usersPerISBN>10].index)]
data = data[data["user"].isin(ISBNsPerUser[ISBNsPerUser>10].index)]

In [7]:
data.head()

      user        isbn  rating
31  276762  034544003X       0
33  276762  0380711524       5
34  276762  0451167317       0
89  276798  3423084049       0
97  276798  3548603203       6

In [8]:
# print the shape of rating matrix, number of users, number of books
print(data.shape)
print(len(data.user.value_counts()))
print(len(data.isbn.value_counts()))

(405709, 3)
10706
15451

In [9]:
# Now create a user item rating matrix. Use coo matrix
# coo_matrix((ratingcolumn, (usercolumn, itemcolumn))
from scipy.sparse import coo_matrix
data['user'] = data['user'].astype("category")
data['isbn'] = data['isbn'].astype("category")
R = coo_matrix((data['rating'].astype(float),
                       (data['user'].cat.codes,
                        data['isbn'].cat.codes)))

In [10]:
print(R)

  (10633, 3053)	0.0
  (10633, 4025)	5.0
  (10633, 7873)	0.0
  (10634, 15131)	0.0
  (10634, 15311)	6.0
  (10635, 125)	10.0
  (10635, 3876)	9.0
  (10635, 12950)	10.0
  (10636, 15017)	0.0
  (10636, 15032)	7.0
  (10637, 6941)	0.0
  (10637, 15099)	0.0
  (10637, 15118)	8.0
  (10637, 15128)	10.0
  (10637, 15166)	10.0
  (10637, 15184)	7.0
  (10637, 15192)	8.0
  (10637, 15195)	10.0
  (10637, 15199)	7.0
  (10637, 15312)	10.0
  (10637, 15313)	10.0
  (10637, 15314)	10.0
  (10637, 15315)	10.0
  (10638, 15009)	0.0
  (10639, 1369)	0.0
  :	:
  (10631, 11776)	0.0
  (10631, 11778)	0.0
  (10631, 11882)	0.0
  (10631, 11910)	0.0
  (10631, 12014)	10.0
  (10631, 12041)	10.0
  (10631, 12099)	0.0
  (10631, 12245)	0.0
  (10631, 12254)	0.0
  (10631, 12268)	8.0
  (10631, 12365)	10.0
  (10631, 13711)	10.0
  (10631, 13732)	10.0
  (10631, 14068)	10.0
  (10631, 14490)	6.0
  (10632, 1933)	0.0
  (10632, 2801)	6.0
  (10632, 5182)	0.0
  (10632, 5451)	0.0
  (10632, 6213)	0.0
  (10632, 6749)	0.0
  (10632, 6885)	0.0
  (10632, 7167)	0.0
  (10632, 12395)	7.0
  (10632, 13146)	0.0

In [11]:
# understanding coo matrix
print(R.shape)
print(R.data[1])
print(R.row[1])
print(R.col[1])
print(data[data.user.cat.codes==10633].sort_values(by=['rating'],ascending=False)[0:5])
print(data[data.isbn.cat.codes==4025].sort_values(by=['rating'],ascending=False)[0:5])
print("----------------------------------")
user = 276762
print(data[data.user.cat.codes==10633])
print(R.data[R.row==10633])
len(R.data)

(10706, 15451)
5.0
10633
4025
      user        isbn  rating
33  276762  0380711524       5
31  276762  034544003X       0
34  276762  0451167317       0
          user        isbn  rating
348566   83287  0380711524      10
551584  132375  0380711524      10
710657  172370  0380711524       9
668446  162639  0380711524       9
122280   28204  0380711524       9
----------------------------------
      user        isbn  rating
31  276762  034544003X       0
33  276762  0380711524       5
34  276762  0451167317       0
[0. 5. 0.]

405709

In [12]:
dict( enumerate(data['user'].cat.categories ) )

{0: 8,
 1: 99,
 2: 242,
 3: 243,
 4: 254,
 5: 383,
 6: 388,
 7: 408,
 8: 424,
 9: 446,
 10: 487,
 11: 503,
 12: 505,
 13: 507,
 14: 625,
 15: 626,
 16: 638,
 17: 643,
 18: 651,
 19: 709,
 20: 728,
 21: 735,
 22: 741,
 23: 805,
 24: 850,
 25: 876,
 26: 882,
 27: 899,
 28: 900,
 29: 901,
 30: 914,
 31: 929,
 32: 1025,
 33: 1075,
 34: 1129,
 35: 1131,
 36: 1155,
 37: 1167,
 38: 1184,
 39: 1211,
 40: 1248,
 41: 1424,
 42: 1435,
 43: 1485,
 44: 1548,
 45: 1585,
 46: 1608,
 47: 1674,
 48: 1725,
 49: 1733,
 50: 1812,
 51: 1848,
 52: 1903,
 53: 1928,
 54: 2010,
 55: 2012,
 56: 2030,
 57: 2033,
 58: 2041,
 59: 2046,
 60: 2090,
 61: 2103,
 62: 2110,
 63: 2132,
 64: 2134,
 65: 2179,
 66: 2197,
 67: 2276,
 68: 2287,
 69: 2288,
 70: 2313,
 71: 2326,
 72: 2337,
 73: 2358,
 74: 2363,
 75: 2437,
 76: 2442,
 77: 2589,
 78: 2630,
 79: 2719,
 80: 2766,
 81: 2790,
 82: 2793,
 83: 2799,
 84: 2853,
 85: 2855,
 86: 2891,
 87: 2954,
 88: 2977,
 89: 3017,
 90: 3066,
 91: 3145,
 92: 3167,
 93: 3266,
 94: 3282,
 95: 3326,
 96: 3329,
 97: 3331,
 98: 3346,
 99: 3363,
 100: 3371,
 101: 3373,
 102: 3374,
 103: 3416,
 104: 3481,
 105: 3538,
 106: 3542,
 107: 3556,
 108: 3578,
 109: 3640,
 110: 3643,
 111: 3675,
 112: 3693,
 113: 3719,
 114: 3757,
 115: 3817,
 116: 3827,
 117: 3840,
 118: 3881,
 119: 3915,
 120: 3917,
 121: 3923,
 122: 4017,
 123: 4049,
 124: 4091,
 125: 4092,
 126: 4098,
 127: 4114,
 128: 4131,
 129: 4157,
 130: 4197,
 131: 4221,
 132: 4223,
 133: 4228,
 134: 4334,
 135: 4385,
 136: 4401,
 137: 4570,
 138: 4600,
 139: 4622,
 140: 4785,
 141: 4795,
 142: 4802,
 143: 4896,
 144: 4938,
 145: 5037,
 146: 5127,
 147: 5207,
 148: 5208,
 149: 5209,
 150: 5287,
 151: 5331,
 152: 5350,
 153: 5385,
 154: 5439,
 155: 5448,
 156: 5452,
 157: 5476,
 158: 5483,
 159: 5490,
 160: 5499,
 161: 5539,
 162: 5543,
 163: 5555,
 164: 5582,
 165: 5609,
 166: 5638,
 167: 5669,
 168: 5694,
 169: 5709,
 170: 5728,
 171: 5730,
 172: 5741,
 173: 5769,
 174: 5815,
 175: 5834,
 176: 5899,
 177: 5903,
 178: 5956,
 179: 5963,
 180: 6007,
 181: 6051,
 182: 6073,
 183: 6092,
 184: 6102,
 185: 6115,
 186: 6120,
 187: 6238,
 188: 6242,
 189: 6251,
 190: 6280,
 191: 6323,
 192: 6330,
 193: 6333,
 194: 6345,
 195: 6366,
 196: 6431,
 197: 6432,
 198: 6492,
 199: 6532,
 200: 6537,
 201: 6543,
 202: 6563,
 203: 6564,
 204: 6566,
 205: 6575,
 206: 6577,
 207: 6582,
 208: 6604,
 209: 6611,
 210: 6662,
 211: 6671,
 212: 6700,
 213: 6703,
 214: 6731,
 215: 6769,
 216: 6772,
 217: 6781,
 218: 6789,
 219: 6865,
 220: 6866,
 221: 6871,
 222: 6894,
 223: 6900,
 224: 6958,
 225: 7082,
 226: 7105,
 227: 7125,
 228: 7128,
 229: 7134,
 230: 7158,
 231: 7181,
 232: 7210,
 233: 7245,
 234: 7283,
 235: 7286,
 236: 7312,
 237: 7318,
 238: 7341,
 239: 7346,
 240: 7352,
 241: 7371,
 242: 7394,
 243: 7426,
 244: 7528,
 245: 7547,
 246: 7569,
 247: 7620,
 248: 7630,
 249: 7637,
 250: 7809,
 251: 7841,
 252: 7860,
 253: 7864,
 254: 7882,
 255: 7886,
 256: 7887,
 257: 7890,
 258: 7913,
 259: 7915,
 260: 7958,
 261: 7980,
 262: 8019,
 263: 8034,
 264: 8066,
 265: 8067,
 266: 8094,
 267: 8167,
 268: 8187,
 269: 8234,
 270: 8245,
 271: 8250,
 272: 8253,
 273: 8255,
 274: 8284,
 275: 8313,
 276: 8314,
 277: 8323,
 278: 8362,
 279: 8454,
 280: 8487,
 281: 8529,
 282: 8584,
 283: 8660,
 284: 8672,
 285: 8680,
 286: 8681,
 287: 8687,
 288: 8695,
 289: 8734,
 290: 8782,
 291: 8801,
 292: 8839,
 293: 8864,
 294: 8870,
 295: 8872,
 296: 8890,
 297: 8935,
 298: 8936,
 299: 8937,
 300: 8971,
 301: 9029,
 302: 9094,
 303: 9138,
 304: 9141,
 305: 9143,
 306: 9177,
 307: 9188,
 308: 9224,
 309: 9226,
 310: 9227,
 311: 9289,
 312: 9295,
 313: 9313,
 314: 9341,
 315: 9354,
 316: 9357,
 317: 9373,
 318: 9381,
 319: 9408,
 320: 9414,
 321: 9417,
 322: 9440,
 323: 9454,
 324: 9571,
 325: 9574,
 326: 9613,
 327: 9660,
 328: 9747,
 329: 9856,
 330: 9908,
 331: 9974,
 332: 10001,
 333: 10030,
 334: 10067,
 335: 10118,
 336: 10199,
 337: 10241,
 338: 10314,
 339: 10315,
 340: 10334,
 341: 10354,
 342: 10447,
 343: 10532,
 344: 10546,
 345: 10560,
 346: 10570,
 347: 10590,
 348: 10619,
 349: 10660,
 350: 10668,
 351: 10716,
 352: 10750,
 353: 10813,
 354: 10819,
 355: 10917,
 356: 10924,
 357: 10946,
 358: 10949,
 359: 10965,
 360: 10985,
 361: 11120,
 362: 11179,
 363: 11198,
 364: 11224,
 365: 11245,
 366: 11362,
 367: 11399,
 368: 11400,
 369: 11451,
 370: 11529,
 371: 11532,
 372: 11590,
 373: 11601,
 374: 11629,
 375: 11638,
 376: 11657,
 377: 11676,
 378: 11687,
 379: 11690,
 380: 11709,
 381: 11718,
 382: 11724,
 383: 11788,
 384: 11797,
 385: 11817,
 386: 11832,
 387: 11916,
 388: 11944,
 389: 11993,
 390: 12100,
 391: 12112,
 392: 12122,
 393: 12123,
 394: 12143,
 395: 12154,
 396: 12189,
 397: 12194,
 398: 12209,
 399: 12238,
 400: 12272,
 401: 12282,
 402: 12331,
 403: 12390,
 404: 12488,
 405: 12512,
 406: 12515,
 407: 12537,
 408: 12538,
 409: 12569,
 410: 12614,
 411: 12657,
 412: 12680,
 413: 12685,
 414: 12692,
 415: 12698,
 416: 12702,
 417: 12734,
 418: 12756,
 419: 12784,
 420: 12811,
 421: 12824,
 422: 12828,
 423: 12835,
 424: 12863,
 425: 12917,
 426: 12945,
 427: 12982,
 428: 12990,
 429: 13032,
 430: 13080,
 431: 13082,
 432: 13093,
 433: 13094,
 434: 13104,
 435: 13126,
 436: 13141,
 437: 13173,
 438: 13215,
 439: 13221,
 440: 13268,
 441: 13273,
 442: 13279,
 443: 13280,
 444: 13331,
 445: 13347,
 446: 13518,
 447: 13540,
 448: 13551,
 449: 13552,
 450: 13582,
 451: 13600,
 452: 13604,
 453: 13607,
 454: 13664,
 455: 13666,
 456: 13682,
 457: 13850,
 458: 13874,
 459: 13915,
 460: 13935,
 461: 13973,
 462: 13995,
 463: 14049,
 464: 14079,
 465: 14087,
 466: 14173,
 467: 14180,
 468: 14230,
 469: 14232,
 470: 14271,
 471: 14281,
 472: 14326,
 473: 14336,
 474: 14374,
 475: 14387,
 476: 14393,
 477: 14422,
 478: 14449,
 479: 14451,
 480: 14456,
 481: 14461,
 482: 14521,
 483: 14573,
 484: 14638,
 485: 14667,
 486: 14698,
 487: 14744,
 488: 14768,
 489: 14808,
 490: 14897,
 491: 14958,
 492: 14966,
 493: 15021,
 494: 15040,
 495: 15049,
 496: 15076,
 497: 15081,
 498: 15093,
 499: 15135,
 500: 15144,
 501: 15185,
 502: 15208,
 503: 15250,
 504: 15276,
 505: 15361,
 506: 15367,
 507: 15387,
 508: 15408,
 509: 15418,
 510: 15497,
 511: 15542,
 512: 15589,
 513: 15602,
 514: 15651,
 515: 15654,
 516: 15670,
 517: 15819,
 518: 15841,
 519: 15845,
 520: 15918,
 521: 15922,
 522: 15936,
 523: 15945,
 524: 15957,
 525: 15964,
 526: 16005,
 527: 16009,
 528: 16034,
 529: 16036,
 530: 16046,
 531: 16106,
 532: 16110,
 533: 16121,
 534: 16155,
 535: 16161,
 536: 16192,
 537: 16220,
 538: 16231,
 539: 16237,
 540: 16244,
 541: 16246,
 542: 16258,
 543: 16263,
 544: 16319,
 545: 16383,
 546: 16413,
 547: 16417,
 548: 16488,
 549: 16504,
 550: 16545,
 551: 16599,
 552: 16601,
 553: 16634,
 554: 16654,
 555: 16673,
 556: 16708,
 557: 16718,
 558: 16721,
 559: 16730,
 560: 16749,
 561: 16755,
 562: 16759,
 563: 16777,
 564: 16781,
 565: 16795,
 566: 16818,
 567: 16835,
 568: 16867,
 569: 16871,
 570: 16877,
 571: 16908,
 572: 16916,
 573: 16943,
 574: 16949,
 575: 16966,
 576: 16982,
 577: 16996,
 578: 16999,
 579: 17003,
 580: 17046,
 581: 17058,
 582: 17172,
 583: 17177,
 584: 17183,
 585: 17190,
 586: 17224,
 587: 17233,
 588: 17282,
 589: 17330,
 590: 17340,
 591: 17391,
 592: 17402,
 593: 17460,
 594: 17507,
 595: 17645,
 596: 17667,
 597: 17724,
 598: 17726,
 599: 17761,
 600: 17789,
 601: 17859,
 602: 17894,
 603: 17906,
 604: 17926,
 605: 17950,
 606: 17970,
 607: 18012,
 608: 18016,
 609: 18038,
 610: 18067,
 611: 18082,
 612: 18095,
 613: 18096,
 614: 18134,
 615: 18155,
 616: 18167,
 617: 18172,
 618: 18176,
 619: 18250,
 620: 18254,
 621: 18309,
 622: 18311,
 623: 18322,
 624: 18323,
 625: 18366,
 626: 18384,
 627: 18395,
 628: 18401,
 629: 18412,
 630: 18439,
 631: 18464,
 632: 18519,
 633: 18713,
 634: 18714,
 635: 18850,
 636: 18852,
 637: 18886,
 638: 18963,
 639: 18979,
 640: 18995,
 641: 19011,
 642: 19018,
 643: 19019,
 644: 19022,
 645: 19085,
 646: 19145,
 647: 19220,
 648: 19233,
 649: 19336,
 650: 19422,
 651: 19493,
 652: 19522,
 653: 19570,
 654: 19571,
 655: 19573,
 656: 19605,
 657: 19609,
 658: 19611,
 659: 19664,
 660: 19681,
 661: 19695,
 662: 19711,
 663: 19725,
 664: 19753,
 665: 19760,
 666: 19842,
 667: 19935,
 668: 19969,
 669: 19970,
 670: 19972,
 671: 19974,
 672: 20005,
 673: 20022,
 674: 20034,
 675: 20052,
 676: 20060,
 677: 20062,
 678: 20115,
 679: 20119,
 680: 20147,
 681: 20149,
 682: 20164,
 683: 20172,
 684: 20180,
 685: 20201,
 686: 20245,
 687: 20254,
 688: 20265,
 689: 20294,
 690: 20332,
 691: 20336,
 692: 20345,
 693: 20347,
 694: 20401,
 695: 20409,
 696: 20418,
 697: 20446,
 698: 20448,
 699: 20462,
 700: 20484,
 701: 20561,
 702: 20627,
 703: 20680,
 704: 20703,
 705: 20755,
 706: 20794,
 707: 20804,
 708: 20845,
 709: 20846,
 710: 20851,
 711: 20852,
 712: 20854,
 713: 20859,
 714: 20871,
 715: 20961,
 716: 20971,
 717: 21011,
 718: 21014,
 719: 21031,
 720: 21049,
 721: 21112,
 722: 21116,
 723: 21155,
 724: 21202,
 725: 21207,
 726: 21229,
 727: 21231,
 728: 21252,
 729: 21343,
 730: 21356,
 731: 21357,
 732: 21364,
 733: 21368,
 734: 21370,
 735: 21404,
 736: 21484,
 737: 21540,
 738: 21575,
 739: 21576,
 740: 21593,
 741: 21618,
 742: 21659,
 743: 21660,
 744: 21684,
 745: 21708,
 746: 21750,
 747: 21774,
 748: 21860,
 749: 21875,
 750: 21903,
 751: 21912,
 752: 21937,
 753: 22022,
 754: 22023,
 755: 22045,
 756: 22062,
 757: 22074,
 758: 22089,
 759: 22107,
 760: 22126,
 761: 22154,
 762: 22167,
 763: 22192,
 764: 22200,
 765: 22243,
 766: 22252,
 767: 22338,
 768: 22362,
 769: 22365,
 770: 22389,
 771: 22409,
 772: 22464,
 773: 22495,
 774: 22521,
 775: 22532,
 776: 22547,
 777: 22624,
 778: 22625,
 779: 22637,
 780: 22648,
 781: 22710,
 782: 22747,
 783: 22773,
 784: 22780,
 785: 22813,
 786: 22818,
 787: 22885,
 788: 22900,
 789: 22912,
 790: 22922,
 791: 22981,
 792: 23065,
 793: 23070,
 794: 23124,
 795: 23127,
 796: 23128,
 797: 23200,
 798: 23271,
 799: 23288,
 800: 23408,
 801: 23459,
 802: 23493,
 803: 23511,
 804: 23547,
 805: 23571,
 806: 23582,
 807: 23619,
 808: 23631,
 809: 23642,
 810: 23650,
 811: 23652,
 812: 23659,
 813: 23666,
 814: 23680,
 815: 23699,
 816: 23768,
 817: 23771,
 818: 23816,
 819: 23835,
 820: 23847,
 821: 23871,
 822: 23872,
 823: 23902,
 824: 23933,
 825: 23997,
 826: 24027,
 827: 24082,
 828: 24090,
 829: 24105,
 830: 24167,
 831: 24172,
 832: 24186,
 833: 24188,
 834: 24191,
 835: 24193,
 836: 24194,
 837: 24211,
 838: 24283,
 839: 24342,
 840: 24348,
 841: 24379,
 842: 24391,
 843: 24427,
 844: 24433,
 845: 24452,
 846: 24462,
 847: 24515,
 848: 24525,
 849: 24539,
 850: 24544,
 851: 24570,
 852: 24585,
 853: 24624,
 854: 24627,
 855: 24641,
 856: 24694,
 857: 24697,
 858: 24733,
 859: 24767,
 860: 24768,
 861: 24778,
 862: 24835,
 863: 24838,
 864: 24846,
 865: 24878,
 866: 24921,
 867: 24933,
 868: 24934,
 869: 24941,
 870: 24945,
 871: 24995,
 872: 25009,
 873: 25041,
 874: 25103,
 875: 25131,
 876: 25216,
 877: 25217,
 878: 25225,
 879: 25253,
 880: 25261,
 881: 25281,
 882: 25311,
 883: 25351,
 884: 25359,
 885: 25373,
 886: 25395,
 887: 25409,
 888: 25410,
 889: 25436,
 890: 25466,
 891: 25533,
 892: 25545,
 893: 25561,
 894: 25583,
 895: 25601,
 896: 25604,
 897: 25630,
 898: 25674,
 899: 25695,
 900: 25700,
 901: 25792,
 902: 25804,
 903: 25827,
 904: 25850,
 905: 25890,
 906: 25916,
 907: 25919,
 908: 25930,
 909: 25966,
 910: 25981,
 911: 25996,
 912: 26030,
 913: 26057,
 914: 26084,
 915: 26120,
 916: 26124,
 917: 26133,
 918: 26145,
 919: 26146,
 920: 26153,
 921: 26182,
 922: 26196,
 923: 26209,
 924: 26231,
 925: 26240,
 926: 26346,
 927: 26371,
 928: 26385,
 929: 26412,
 930: 26416,
 931: 26418,
 932: 26435,
 933: 26443,
 934: 26487,
 935: 26516,
 936: 26517,
 937: 26521,
 938: 26527,
 939: 26535,
 940: 26538,
 941: 26544,
 942: 26553,
 943: 26579,
 944: 26583,
 945: 26586,
 946: 26593,
 947: 26598,
 948: 26611,
 949: 26615,
 950: 26616,
 951: 26620,
 952: 26621,
 953: 26624,
 954: 26628,
 955: 26711,
 956: 26713,
 957: 26730,
 958: 26751,
 959: 26756,
 960: 26774,
 961: 26813,
 962: 26831,
 963: 26883,
 964: 26949,
 965: 27091,
 966: 27140,
 967: 27169,
 968: 27193,
 969: 27313,
 970: 27317,
 971: 27363,
 972: 27383,
 973: 27462,
 974: 27472,
 975: 27551,
 976: 27593,
 977: 27617,
 978: 27647,
 979: 27650,
 980: 27704,
 981: 27740,
 982: 27788,
 983: 27812,
 984: 27813,
 985: 27875,
 986: 27888,
 987: 27947,
 988: 28016,
 989: 28056,
 990: 28076,
 991: 28096,
 992: 28139,
 993: 28144,
 994: 28150,
 995: 28177,
 996: 28204,
 997: 28222,
 998: 28255,
 999: 28257,
 ...}

In [13]:
len(dict( enumerate(data['user'].cat.categories ) ))

10706

In [14]:
dict(enumerate([1,2,3]))

{0: 1, 1: 2, 2: 3}

In [15]:
# this function will return the error between the actual rating and the ratings calculated from P and Q matrices
# predicted rating is calculated using the formula 
# pow(rui-np.dot(P[u,:],Q[:,i]),2)+ lamda*(pow(norm(P[u,:]),2)+pow(norm(Q[:,i]),2
from numpy.linalg import norm
import numpy as np

def error(R,P,Q,reg=0.02):
    ratings = R.data
    rows = R.row
    cols = R.col
    e = 0 
    # go through every rating 
    for ui in range(len(ratings)):
        # Save the rating, user code and book code
        rui=ratings[ui]
        u = rows[ui]
        i = cols[ui]
        if rui>0:
            # Find the sum of errors
            e = e + pow(rui-np.dot(P[u,:],Q[:,i]),2)+\
                reg*(pow(norm(P[u,:]),2)+pow(norm(Q[:,i]),2))
    return e

# error (difference) between actual & predict

In [16]:
# Function that will calculate P and Q matrices using stochastic gradient descent
def SGD(R, K, reg=0.02,steps=10, lrate=0.001):
    # Initialise the P and Q Factor Matrices with random numbers
    # Setup the dimensions 
    # M - No. of users
    # N - No. of items
    # K - No. of latent features (no. of cols)
    M,N = R.shape
    P = np.random.rand(M,K)
    Q = np.random.rand(K,N)
    
    # calculate the initial RMSE
    rmse = np.sqrt(error(R,P,Q,reg)/len(R.data))
    print("Initial RMSE: "+str(rmse))
    
    # complete the specified number of steps for gradient descent
    for step in range(steps):
        # complete the specified number of steps for gradient descent 
        for ui in range(len(R.data)):
            rui=R.data[ui]
            u = R.row[ui]
            i = R.col[ui]
            if rui>0:
                # update P, Q in the direction of local minima
                eui=rui-np.dot(P[u,:],Q[:,i])
                P[u,:]=P[u,:]+lrate*2*(eui*Q[:,i]-reg*P[u,:])
                Q[:,i]=Q[:,i]+lrate*2*(eui*P[u,:]-reg*Q[:,i])
        rmse = np.sqrt(error(R,P,Q,reg)/len(R.data))
        if rmse<0.5:
            break
    print("Final RMSE: "+ str(rmse))
    return P,Q

In [17]:
# call the SGD to calculate P,Q
(P,Q) = SGD(R,K=2,lrate=0.0007,reg=0.01, steps=100)

Initial RMSE: 4.330093148684902
Final RMSE: 0.7893190298541115

In [19]:
len(R.data)

405709

In [20]:
P,Q

(array([[0.89135534, 1.02486598],
        [1.29207278, 2.5374247 ],
        [2.30155159, 2.37540783],
        ...,
        [0.00414449, 0.19553207],
        [2.32050659, 2.05782198],
        [1.65273991, 1.47938466]]),
 array([[1.86754285, 1.85478622, 1.78989077, ..., 2.23573156, 2.1380698 ,
         0.99378304],
        [1.76395009, 2.30733062, 1.92356553, ..., 2.35215803, 2.0999918 ,
         0.23562639]]))

In [21]:
P.shape

(10706, 2)

In [22]:
Q.shape

(2, 15451)

In [23]:
dot_product = np.dot(P,Q)
dot_product

array([[ 3.47245671,  4.01797824,  3.56682555, ...,  4.40347799,
         4.05799007,  1.12729929],
       [ 6.88889179,  8.25119649,  7.19357182, ...,  8.85715177,
         8.09111284,  1.88192423],
       [ 8.48834706,  9.7497374 ,  8.68877857, ..., 10.73298614,
         9.90921491,  2.8469517 ],
       ...,
       [ 0.35264883,  0.45884428,  0.38353694, ...,  0.46918831,
         0.41947696,  0.05019124],
       [ 7.96354076,  9.05211932,  8.11180876, ..., 10.02835233,
         9.28281435,  2.79095726],
       [ 5.6961233 ,  6.47890873,  5.80391725, ...,  7.17482929,
         6.64036895,  1.99104696]])

In [24]:
dot_product.shape

(10706, 15451)

In [31]:
data['user'].cat.categories

Int64Index([     8,     99,    242,    243,    254,    383,    388,    408,
               424,    446,
            ...
            278522, 278535, 278554, 278563, 278582, 278633, 278637, 278771,
            278843, 278851],
           dtype='int64', length=10706)

In [32]:
len(data['user'].cat.categories)

10706

In [33]:
new_matrix = pd.DataFrame(dot_product, index=list(data['user'].cat.categories), columns=list(data['isbn'].cat.categories))
new_matrix.head()

,0002005018,0002251760,0002259834,0002558122,0006480764,000648302X,0006485200,000649840X,000651202X,0006512062,...,8845906884,8845915611,8878188212,8885989403,9074336329,9074336469,950491036X,9681500830,9681500954,9871138016
8,3.472457,4.017978,3.566826,3.726750,2.442734,3.713968,3.534192,3.675699,3.344812,2.952861,...,0.166000,3.173362,3.562024,2.903911,3.073397,1.830889,4.282521,4.403478,4.057990,1.127299
99,6.888892,8.251196,7.193572,7.133566,5.082510,7.307689,7.071290,7.811692,6.936041,5.858134,...,0.275625,6.679993,6.956589,5.765048,5.926216,3.631086,8.499599,8.857152,8.091113,1.881924
242,8.488347,9.749737,8.688779,9.176870,5.910317,9.094253,8.623825,8.851354,8.098964,7.218193,...,0.419611,7.658204,8.735620,7.097501,7.556890,4.475868,10.467592,10.732986,9.909215,2.846952
243,7.802724,9.061130,8.028448,8.343885,5.516428,8.338386,7.948421,8.319900,7.550868,6.635182,...,0.366756,7.175403,7.991181,6.525659,6.886118,4.113934,9.623389,9.908873,9.123163,2.491814
254,7.727149,8.742609,7.853901,8.477138,5.268173,8.307330,7.822060,7.811195,7.230235,6.570873,...,0.407446,6.789125,8.004410,6.459096,6.960312,4.075039,9.527174,9.713004,9.001346,2.759758

In [34]:
# select one of the user
user8 = new_matrix[new_matrix.index == 8]
user8

,0002005018,0002251760,0002259834,0002558122,0006480764,000648302X,0006485200,000649840X,000651202X,0006512062,...,8845906884,8845915611,8878188212,8885989403,9074336329,9074336469,950491036X,9681500830,9681500954,9871138016
8,3.472457,4.017978,3.566826,3.72675,2.442734,3.713968,3.534192,3.675699,3.344812,2.952861,...,0.166,3.173362,3.562024,2.903911,3.073397,1.830889,4.282521,4.403478,4.05799,1.127299

In [38]:
new_matrix_8 = user8.T.sort_values(by=[8], ascending=False)
new_matrix_8.head()

                   8
3453146972  5.154137
3499224615  4.867898
1853262390  4.849585
843760494X  4.811025
3499224623  4.746067

In [35]:
# books user_id 8 had rated
books_rated = data[data.user == 8]
books_rated

     user        isbn  rating
9563    8  0002005018       5
9565    8  0374157065       0
9567    8  0399135782       0

In [42]:
new_matrix_8_excluded = new_matrix_8[~new_matrix_8.index.isin(books_rated.isbn)]
new_matrix_8_excluded.head()
# Top 5 recommendation

                   8
3453146972  5.154137
3499224615  4.867898
1853262390  4.849585
843760494X  4.811025
3499224623  4.746067

In [43]:
new_matrix_8[new_matrix_8.index.isin(books_rated.isbn)]

                   8
0399135782  3.946814
0374157065  3.593718
0002005018  3.472457

In [ ]:
# change isbn into book name & author
# compare Top N books of two models (previous example(notesbook))